<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="fragments/general.html :: head"></head>
<body>
    <header th:insert="fragments/general.html :: header"></header>
    <h1 class="title">Doctors</h1>
    <div>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/doctors/new}" class="btn btn-primary">Add a doctor</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Full name</th>
                <th scope="col">Specialty</th>
                <th scope="col">Schedule</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctors}">
            <td th:text="${doctor.id}"></td>
            <td th:text="${doctor.fullName}"></td>
            <td th:text="${doctor.specialty}"></td>
            <td th:text="${doctor.schedule}"></td>
            <td>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/doctors/{id}/delete(id=${doctor.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
   </table>
</body>
</html>