<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/general.html :: head"></head>
<body>
    <header th:insert="fragments/general.html :: header"></header>
    <h2 class="title">Add new doctor</h2>
    <div class="col-md-8">
        <form action="#" th:action="@{/doctors/new}" method="post" th:object="${doctor}">
            <div class="form-group">
                <label for="fullName"> Full name</label>
                <input type="text" class="form-control" id="fullName" th:field="*{fullName}" th:errorClass="errorInput">
                <small th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" th:errorClass="text-danger"></small>
            </div>
            <div class="form-group">
                <label for="specialty"> Specialty</label>
                <input type="text" class="form-control" id="specialty" name="specialty">
                <small th:if="${#fields.hasErrors('specialty')}" th:errors="*{specialty}" th:errorClass="text-danger"></small>
            </div>
            <div class="form-group">
                <label for="schedule"> Schedule</label>
                <input type="text" class="form-control" id="schedule" name="schedule">
                <small th:if="${#fields.hasErrors('schedule')}" th:errors="*{schedule}" th:errorClass="text-danger"></small>
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Add">
        </form>
    </div>
<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>