<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/general.html :: head"></head>
<body>
    <header th:insert="fragments/general.html :: header"></header>
    <h2 class="title">Add new car</h2>
    <div class="col-md-8">
        <form action="#" th:action="@{/cars/new}" method="post" th:object="${car}">
            <div class="form-group">
                <label for="brand">Brand</label>
                <input type="text" class="form-control" id="brand" th:field="*{brand}" th:errorClass="errorInput">
                <small th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" th:errorClass="text-danger"></small>
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <input type="text" class="form-control" id="year" name="year">
                <small th:if="${#fields.hasErrors('year')}" th:errors="*{year}" th:errorClass="text-danger"></small>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" name="price">
                <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:errorClass="text-danger"></small>
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Add">
        </form>
    </div>
<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>