<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Polyclinic</title>
    <link rel="stylesheet" href="/resources/css/main.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>
</head>
<body>
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Polyclinic</a>
            <a sec:authorize="isAnonymous()" class="navbar-brand" href="/login">Log in</a>
            <a sec:authorize="isAuthenticated()" class="navbar-brand" href="/logout">Log out</a>
        </nav>
    </div>
</body>
</html>