<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/general.html :: head"></head>
<body>
    <header th:insert="fragments/general.html :: header"></header>
    <h1 class="title">Patients</h1>
    <div>
        <a th:href="@{/patients/new}" class="btn btn-primary">Add a patient</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Full name</th>
                <th scope="col">Birth date</th>
                <th scope="col">Address</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.fullName}"></td>
                <td th:text="${patient.birthDate}"></td>
                <td th:text="${patient.address}"></td>
                <td>
                    <a th:href="@{/patients/{id}/delete(id=${patient.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>